.calendar-admin-container .react-datepicker-popper {
  width: auto;
}

.calendar-admin-container .react-datepicker {
  width: auto;
  border: 1px solid #ddd;
  display: inline-block;
}

.calendar-admin-container .react-datepicker__month-container {
  width: auto;
}

.calendar-admin-container .react-datepicker__month {
  margin: 0;
}

.calendar-admin-container .react-datepicker__week {
  display: flex;
  justify-content: center;
}

.calendar-admin-container .react-datepicker__day-names {
  display: flex;
  justify-content: center;
}

.calendar-admin-container .react-datepicker__day-name,
.calendar-admin-container .react-datepicker__day {
  width: 4rem;
  text-align: center;
  margin: 0;
  line-height: 2.5rem;
  border: 1px solid #f0f0f0;
}

.calendar-admin-container .react-datepicker__day-name {
  font-weight: bold;
  color: #333;
}

.calendar-admin-container .react-datepicker__day:hover {
  background-color: #f0f0f0;
}

.calendar-admin-container .react-datepicker__day--selected {
  background-color: #216ba5;
  color: white;
}

.react-datepicker__day--highlighted-activity {
  position: relative;
}

.react-datepicker__day--highlighted-activity::after {
  content: '*';
  position: absolute;
  top: 1px;
  left: 1px;
  color: red;
  font-size: 1.2em;
  font-weight: bold;
}

.calendar-admin-container .react-datepicker__day--keyboard-selected {
  background-color: #2a88d1;
  color: white;
}